resources/process-coap-iot-requests-flow.json
[{"id":"494cfb55.90e9e4","type":"tab","label":"Process IoT CoAP requests","disabled":false,"info":""},{"id":"d50e2598.0af1b8","type":"coap in","z":"494cfb55.90e9e4","method":"POST","name":"Collect IoT resquests","server":"b4b93505.7013c8","url":"/v80/devices/collect/iot","x":140,"y":60,"wires":[["1d4cba24.7324b6","1a71c3ad.db12ec"]]},{"id":"1d4cba24.7324b6","type":"function","z":"494cfb55.90e9e4","name":"Process IoT request","func":"msg.res.end(\"IoT data recollected\")\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[[]]},{"id":"1a71c3ad.db12ec","type":"function","z":"494cfb55.90e9e4","name":"Get CoAP message payload","func":"msg.payload = msg.req.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":140,"wires":[["a688a356.930748"]]},{"id":"a688a356.930748","type":"debug","z":"494cfb55.90e9e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":140,"wires":[]},{"id":"b4b93505.7013c8","type":"coap-server","z":"","name":"test","port":"5683"}]